<label>Choose an existing gfhghg:</label>
<%@pets.each do |pet|%>
  <input type="checkbox" name="figure[title_ids][]" id="<%=pet.id%>" value="<%=pet.id%>"><%=pet.name%></input>
<%end%>

<label>Choose an existing gfhghg:</label>
<%@pets.each do |pet|%>
  <input type="checkbox" name="figure[landmark_ids][]" id="<%=pet.id%>" value="<%=pet.id%>"><%=pet.name%></input>
<%end%>
<form action="/figures" method="post">
  <input type="text" name="figure[name]" value="" placeholder= "enter figure name"><br>
  <input type="integer" name="figure_name" value=""><br>
  <input type="integer" name="landmark[name]" value=""><br>
  <input type="integer" name="title[name]" value=""><br>
  <input type="submit" name="" value="Create Roll"><br>
</form>
